:root{
    --textColor: #691A00;
    --bgColor: rgb(250, 237, 202);
}

#root{
    display: flex;
    flex-direction: column;
}

.recipes{
    display: flex;
    flex-wrap: wrap;
}

html {
    background-color: var(--bgColor);
}

h1, h2, p{
    color: var(--textColor);
}

