*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foodContainer {
    width: 190px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 20%;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h2{
    font-size: 20px;
}

p{
    position: relative;
    right: 22px;
}

button{
    border: transparent;
    background-color: transparent;
    font-size: 10px;
    margin-right: 25px;
}

button:hover{
    color: #FE5D26;
}