:root{
    --difficultyColor: rgb(237, 154, 0);
    --timeColor: rgb(0, 208, 215);
    --costColor: rgb(3, 194, 0);
}

.segmentProgress {
  display: flex;
  gap: 6px;
}

.segment {
  width: 25px;
  height: 15px;
  border: 2px solid #0000004d;
  border-radius: 4px;
  background-color: rgba(152, 76, 0, 0.19);
  transition: background-color 0.3s ease;
}

#difficulty.segment.filled {
  background-color: var(--difficultyColor); /* green filled */
}

#time.segment.filled {
  background-color: var(--timeColor); /* green filled */
}

#cost.segment.filled {
  background-color: var(--costColor); /* green filled */
}