:root{
  --noRank: conic-gradient(#C4C4C4 17%, transparent 0deg),
  conic-gradient(#3D3D3D 37%, #858585 67%, #d6d6d6  20%);
  --bronzeRankColor: conic-gradient(#CD7F32 17%, transparent 0deg),
  conic-gradient(#83470a 37%, #b15f08 67%, #db9c59  20%);
  --goldRankColor: conic-gradient(#be9e1c 17%, transparent 0deg),
  conic-gradient(#775f00 37%, #ac8900 67%, #f0c003  20%);
  --diamondRankColor: conic-gradient(	#0495d3 17%, transparent 0deg),
  conic-gradient(#005a70 37%, #0073b6 67%, #05bcc2  20%);
  --amethystRankColor: conic-gradient(	#83509f 17%, transparent 0deg),
  conic-gradient(#3a0c57 37%, #50246c 67%, #a88bbd  20%);
}

.container {
  width: 90px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank {
  height: 70px;
  width: 60px; 
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  background: var(--noRank);
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: conic-gradient(rgb(9, 255, 9) 0%, rgba(0, 128, 0, 0.116) 0deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
  transition: 500ms;
}

.experience:hover{
  padding: 6px;
  transition: 500ms;
}

.rank img{
    width: 50px;
    height: 50px;
    border: white solid 2px;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover;
    filter: grayscale(100%);
}