.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 3px;
    padding: 5px 0px 5px 0px;
    border: transparent;
    border-radius: var(--borderRadius);
    background-color: transparent;
    font-size: 15px;
    transition: 100ms;
    text-decoration: none;
}

.btn:hover{
    box-shadow: 1px 1px 2px rgb(150, 141, 120),
    -1px -1px 2px rgb(247, 239, 220);
    transition: 100ms;
    padding: 5px 3px 5px 3px;
}