ol {
  padding-left: 1em;
  list-style-type: decimal;
  list-style-position: inside;
}

li{
    /* display: flex; */
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
}

i{
    margin-left: 5px;
}

