@import "tailwindcss";
@import "./Ranks.css";
@import "./Colors.css";
@import "./Fonts.css";

@theme{
    --font-primary: "Lora", serif;
    --font-secondary: "Quicksand", sans-serif;

    --color-bgColor: var(--bgColor);
    --color-barBg: var(--barBg);

    --color-textSecondary: var(--bgColor);

    --color-borderColor: var(--borderColor);
    --color-primaryColor: var(--primaryButton);
    --color-infoColor: var(--infoColor);

    --color-difficultyColor: var(--difficultyColor);
    --color-timeColor: var(--timeColor);
    --color-costColor: var(--costColor);

    
}

:root{
    --grayScale: grayscale(100%);
    --borderRadius: 50px;
}

html {
    background-color: var(--bg-dark);
}

h1, h2, p{
    color: var(--textColor);
}

h1,h2,h3,h4{
    font-family: "Quicksand", sans-serif;
}

p, span, a{
    font-family: "Lora", serif;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 35px;
}

.rank{
    clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
    aspect-ratio: cos(30deg);
}

.experience{
    background: conic-gradient(rgb(9, 255, 9) 0%, rgba(0, 128, 0, 0.116) 0deg);
    clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
}

.rank img{
    filter: var(--grayScale);
}

.layout:hover{
    background: linear-gradient(to bottom right, var(--bg-dark) 10%, var(--bgColor) 70%);
}