.userBox{
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    border: 1px solid black;
    background: linear-gradient(to bottom, rgba(63, 37, 0, 0.341), rgba(255, 212, 166, 0.244));
    padding: 20px;
    border-radius: 50px;
}

.userBox img{
    border: black solid 1px;
    border-radius: 50%;
    margin-right: 10px;
}

.userBox div{
    gap: 10px;
}